@using MovieApp.Infrastructure.Models.MovieDb.TvSeriesDetail
@model TvSeriesDetailModel;



<h1>
    <p>@Model.original_name </p>
</h1>
<h5>
    <p>Bölüm Sayısı: @Model.number_of_episodes</p>
    <p>Sezon Sayısı: @Model.number_of_seasons</p>
    <p>Orjinal Dil: @Model.original_language</p>
</h5>

