@{
    ViewData["Title"] = "Ana Sayfa";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>

<div class="container-fluid my-4">
    <h1 class="text-center" style="font-family: 'Abril Fatface', cursive;">Movie App'e Hoş Geldiniz</h1>
    <p class="text-center">Film ve dizileri keşfetmek için üst menüyü kullanabilirsiniz.</p>
    
    <div class="text-center mt-4">
        <img src="~/img/HomePhoto.jpg" alt="Movie App Home" class="img-fluid rounded shadow" style="max-width: 1000px; width: 100%; height: auto; max-height: 600px; object-fit: cover;" />
    </div>
</div>

